@model ProfileView
@{
    ViewData["Title"] = "Home Page";
    User user = Model.User;
    UserImage avatarImage = Model.ImageAvatar;
    IEnumerable<PostView> myPosts = Model.UserPosts;
}



<div class="d-flex justify-content-center">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
                <div class="">
                    <h4>Tạo bài viết</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="">
                        <img src="data:image/jpeg;base64,@avatarImage.ImageData" alt=""
                            class="img-fluid avatar-60 rounded-circle">
                    </div>
                    <div action="" class="ms-3 w-100 form-feedpost" data-bs-toggle="modal"
                        data-bs-target="#feedpost-modal">
                        <input type="text" class="form-control rounded"
                            placeholder="Bạn đang nghĩ gì?" style="border: none;">

                    </div>
                </div>
                <hr>
                <ul class="list-inline mb-0 d-flex">
                    <li class="bg-soft-primary p-2 d-flex align-items-center rounded me-3 pointer">
                        <img src="/images/small/07.png" alt="" class="me-2 img-fluid"> Ảnh/Video
                    </li>
                    <li class="bg-soft-primary p-2 d-flex align-items-center rounded me-3 pointer">
                        <img src="/images/small/08.png" alt="" class="me-2 img-fluid"> Gắn thẻ
                    </li>
                    <li class="bg-soft-primary p-2 d-flex align-items-center rounded me-3 pointer">
                        <img src="/images/small/09.png" alt="" class="me-2 img-fluid"> Cảm xúc/Hoạt
                        động
                    </li>
                    <li class="bg-soft-primary p-2 rounded me-3 pointer">
                        <div class="card-header-toolbar d-flex align-items-center">
                            <div class="dropdown">
                                <div class="dropdown-toggle" id="post-option"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="ri-more-fill h4"></i>
                                </div>
                                <div class="dropdown-menu" aria-labelledby="post-option">
                                    <a href="" class="dropdown-item">Checkin</a>
                                    <a href="" class="dropdown-item">Live Video</a>
                                    <a href="" class="dropdown-item">Gif</a>
                                    <a href="" class="dropdown-item">Watch Party</a>
                                    <a href="" class="dropdown-item">Play with Friend</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal fade" id="feedpost-modal" tabindex="-1"
                aria-labelledby="post-modalLabel">
                <div class="modal-dialog modal-fullscreen-sm-down mt-0">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>Tạo bài viết</h5>
                            <button class="btn btn-secondary" data-bs-dismiss="modal"><i
                                    class="ri-close-fill"></i></button>
                        </div>
                        <div class="modal-body">
                            <div class="modalbody-top" style="box-sizing: border-box;">
                                <div class="d-flex align-items-center cardbody-header">
                                    <div>
                                        <img src="data:image/jpeg;base64,@avatarImage.ImageData" alt=""
                                            class="img-fluid avatar-60 rounded-circle">
                                    </div>
                                    <div action="" class="w-100 ms-3">
                                        @* <input type="text" class="form-control rounded"
                                        placeholder="Bạn đang nghĩ gì?" style="border: none;"> *@
                                        <textarea class="form-control Content" name="Content" id=""
                                            rows="2" cols="30" placeholder="Bạn đang nghĩ gì?"
                                            style="border: none; resize: none;"></textarea>
                                    </div>
                                </div>
                                <hr>
                                <div class="cardbody-center scroll-view">
                                    <div class="images-post view-hidden">
                                        <button
                                            class="btn btn-secondary btn-close-image d-flex align-items-center justify-content-center"><i
                                                class="ri-close-fill"></i></button>
                                        <img src="" alt="" class="item-image-post">

                                        <hr style="width: 100%;">
                                    </div>
                                    <ul
                                        class="list-inline d-flex flex-wrap mb-0 align-items-center">
                                        <li class="col-md-6 mb-3">
                                            <form enctype="multipart/form-data">
                                                <div
                                                    class="bg-soft-primary rounded p-2 me-3 upload-media">
                                                    <img src="/images/small/07.png" alt="">
                                                    Ảnh/Video
                                                </div>
                                                <input type="file" name="fileMedia"
                                                    class="input-media" style="display: none;">
                                            </form>
                                        </li>
                                        <li class="col-md-6 mb-3">
                                            <div class="bg-soft-primary rounded p-2 me-3">
                                                <img src="/images/small/08.png" alt=""
                                                    class="img-fluid">
                                                Gắn thẻ người khác
                                            </div>
                                        </li>
                                        <li class="col-md-6 mb-3">
                                            <div class="bg-soft-primary rounded p-2 me-3">
                                                <img src="/images/small/09.png" alt=""> Cảm xúc hoạt
                                                động
                                            </div>
                                        </li>
                                        <li class="col-md-6 mb-3">
                                            <div class="bg-soft-primary rounded p-2 me-3">
                                                <img src="/images/small/10.png" alt=""> Check in
                                            </div>
                                        </li>
                                        <li class="col-md-6 mb-3">
                                            <div class="bg-soft-primary rounded p-2 me-3">
                                                <img src="/images/small/11.png" alt=""> Video trực
                                                tiếp
                                            </div>
                                        </li>
                                        <li class="col-md-6 mb-3">
                                            <div class="bg-soft-primary rounded p-2 me-3">
                                                <img src="/images/small/12.png" alt=""> File Gift
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="me-3">
                                        <img src="data:image/jpeg;base64,@avatarImage.ImageData" alt=""
                                            class="img-fluid avatar-60 rounded-circle">
                                    </div>
                                    <h6>Bài viết của bạn</h6>
                                </div>
                                <div class="card-post-toolbar">
                                    <div class="dropdown">
                                        <span class="dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"
                                            role="button">
                                            <span class="btn btn-primary">Mọi người</span>
                                        </span>
                                        <div class="dropdown-menu m-0 p-0">
                                            <a href="" class="dropdown-item p-3">
                                                <div class="d-flex align-items-top">
                                                    <i class="ri-save-line h4"></i>
                                                    <div class="ms-2">
                                                        <h6>Mọi người</h6>
                                                        <p class="mb-0">Bất kì ai ở trên hoặc ngoài
                                                            HHSocial
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="" class="dropdown-item p-3">
                                                <div class="d-flex align-items-top">
                                                    <i class="ri-close-circle-line h4"></i>
                                                    <div class="ms-2">
                                                        <h6>Bạn bè</h6>
                                                        <p class="mb-0">Bạn bè của bạn trên HHSocial
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="" class="dropdown-item p-3">
                                                <div class="d-flex align-items-top">
                                                    <i class="ri-user-unfollow-line h4"></i>
                                                    <div class="ms-2">
                                                        <h6>Bạn bè ngoại trừ</h6>
                                                        <p class="mb-0">Không hiển thị với một số
                                                            bạn bè</p>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="" class="dropdown-item p-3">
                                                <div class="d-flex align-items-center">
                                                    <i class="ri-notification-line h4"></i>
                                                    <div class="ms-2">
                                                        <h6>Chỉ mình tôi</h6>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <button type="button"
                                class="btn btn-primary w-100 mt-3 btn-create-post">Đăng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* FeedPost *@
        <div class="feed-posts">
            @if (myPosts.Count() > 0)
            {
                @await Html.PartialAsync("/Views/Shared/PartialView/_PostPartial.cshtml", Model)
            }

        </div>
    </div>
</div>