body {
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    overflow-x: hidden;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.container .form-wrapper {
    margin-top: 103px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    width: 50%;
    height: 884px;
    margin-left: 7px;
    row-gap: 30px;
}

.container .form-header {
    font-weight: bold;
    font-size: 36px;
}

.container .form-wrapper .input {
    width: 80%;
    max-width: 484px;
    height: 45px;
    padding: 10px 14px;
    border-radius: 8px;
    border: 1px solid var(--gray-300, #d0d5dd);
    background: var(--White, #fff);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.container .form-wrapper .form-header input:placeholder {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.container .remember-forgot {
    display: flex;
    justify-content: space-between;
    max-width: 484px;
    width: 100%;
    align-items: center;
}

.radio-wrapper {
    display: flex;
    column-gap: 12px;
}

.radio-wrapper .raido {
    width: 20px;
    height: 20px;
}
.remember-label {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.fotgot-password {
    color: #03A3DD;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    line-height: 32px;
}

.login-btn {
    max-width: 484px;
    width: 100%;
    background: #03A3DD;
    border-radius: 8px;
    padding: 16px 28px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    color: white;
    line-height: 28px;
}

.sign-up-wrapper {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 8px;
    padding-right: 120px;
    font-weight: 400;
    color: #101828;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.sign-up-wrapper p {
    margin-top: 5px;
}

.sign-up-wrapper .sign-up {
    cursor: pointer;
    color: #03A3DD;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

a {
    color: #101828;
    font-weight: 600;
}

.decorater-login {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    max-width: 604px;
    width: 60%;
    margin-right: 32px;
}

.decorater-login div {
    padding-top: 200px;
}

.decorater-login div span {
    color: #101828;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px; /* 250% */
    letter-spacing: -0.72px;
}

.decorater-login .logo {
    width: 100px;
}

.decorater-login p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    width: 500px;
}

.hidden {
    display: none;
}
