@model User

<div class="col-lg-12">
    <div class="card">
        <div class="card-body p-0">
            <ul class="edit-profile nav nav-pills list-inline m-0 d-flex">
                <li class="col-md-3">
                    <a href="" class="nav-link active" data-bs-toggle="pill">Thông tin cá nhân</a>
                </li>
                <li class="col-md-3">
                    <a href="" class="nav-link" data-bs-toggle="pill">Thay đổi mật khẩu</a>
                </li>
                <li class="col-md-3">
                    <a href="" class="nav-link" data-bs-toggle="pill">Email và SMS</a>
                </li>
                <li class="col-md-3">
                    <a href="" class="nav-link" data-bs-toggle="pill">Quản lý liên hệ</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <div class="header-title">
                <h4>Thông tin cá nhân</h4>
            </div>
        </div>
        <div class="card-body">
            <form action="">
                
            </form>
        </div>
    </div>
</div>