@model ProfileView
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body p-0">
                <div class="position-relative">
                    <div class="position-relative">
                        <img src="/images/page-img/profile-bg1.jpg" alt="" class="img-fluid rounded">
                        <ul class="header-nav d-flex list-inline justify-end">
                            <li class="">
                                <a href=""><i class="ri-pencil-line"></i></a>
                            </li>
                            <li class="">
                                <a href="">
                                    <i class="ri-settings-4-line"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="user_over position-absolute text-center mb-3">
                        <div class="profile-image">
                            <img src="/images/user/11.png" alt="" class="avatar-130 img-fluid ">
                        </div>
                        <div class="username_profile">
                            <h3>@Model.user.UserName</h3>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between p-3 position-relative">
                        <div class="">
                            <ul class="d-flex list-inline m-0 align-items-center">
                                <li class="text-center pe-3">
                                    <a href="#"><img src="/images/icon/08.png" class="img-fluid rounded"
                                            alt="facebook"></a>
                                </li>
                                <li class="text-center pe-3">
                                    <a href="#"><img src="/images/icon/09.png" class="img-fluid rounded"
                                            alt="Twitter"></a>
                                </li>
                                <li class="text-center pe-3">
                                    <a href="#"><img src="/images/icon/10.png" class="img-fluid rounded"
                                            alt="Instagram"></a>
                                </li>
                                <li class="text-center pe-3">
                                    <a href="#"><img src="/images/icon/11.png" class="img-fluid rounded"
                                            alt="Google plus"></a>
                                </li>
                                <li class="text-center pe-3">
                                    <a href="#"><img src="/images/icon/12.png" class="img-fluid rounded"
                                            alt="You tube"></a>
                                </li>
                                <li class="text-center md-pe-3 pe-0">
                                    <a href="#"><img src="/images/icon/13.png" class="img-fluid rounded"
                                            alt="linkedin"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="">
                            <ul class="list-inline d-flex mb-0">
                                <li class="text-center ps-3">
                                    <h6>Posts</h6>
                                    <p class="mb-0">690</p>
                                </li>
                                <li class="text-center ps-3">
                                    <h6>Followers</h6>
                                    <p class="mb-0">206</p>
                                </li>
                                <li class="text-center ps-3">
                                    <h6>Following</h6>
                                    <p class="mb-0">100</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body p-0">
                <div class="user-tabing">
                    <ul
                        class="nav nav-pills list-inline d-flex align-items-center justify-content-center m-0 p-0 w-100">
                        <li class="nav-item col-sm-3">
                            <a href="" class="nav-link active" data-bs-toggle="pill" data-bs-target="#timeline"
                                role="button">Bài viết</a>
                        </li>
                        <li class="nav-item col-sm-3">
                            <a href="" class="nav-link" data-bs-toggle="pill" data-bs-target="#about" role="button">Giới
                                thiệu</a>
                        </li>
                        <li class="nav-item col-sm-3"><a href="" class="nav-link">Bạn bè</a></li>
                        <li class="nav-item col-sm-3"><a href="" class="nav-link">Ảnh</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        
        <div class="tab-content-h">
            <div class="tab-pane fade active show" id="timeline" role="tabpanel">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <a href="">
                                        <span class="badge badge-pill bg-primary font-weight-normal ms-auto me-1"><i
                                                class="ri-star-line"></i></span> 27 Itmes for you
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="d-flex align-items-center justify-content-between card-header">
                                    <div class="">
                                        <h4>Life Event</h4>
                                    </div>
                                    <div class="">
                                        <p class="mb-0">
                                            <a href="">Create</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="position-relative">
                                                <a href="">
                                                    <img src="/images/page-img/07.jpg" alt="" class="img-fluid rounded">
                                                </a>
                                                <div class="job-icon-position">
                                                    <div class="job-icon bg-primary p-2 d-inline-block rounded-circle">
                                                        <i class="ri-briefcase-line text-white"></i>
                                                    </div>
                                                </div>
                                                <div class="card-body text-center p-2">
                                                    <h5>Started New Job at Apple</h5>
                                                    <p>January 24, 2019</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="position-relative">
                                                <a href="">
                                                    <img src="/images/page-img/07.jpg" alt="" class="img-fluid rounded">
                                                </a>
                                                <div class="job-icon-position">
                                                    <div class="job-icon bg-primary p-2 d-inline-block rounded-circle">
                                                        <i class="ri-briefcase-line text-white"></i>
                                                    </div>
                                                </div>
                                                <div class="card-body text-center p-2">
                                                    <h5>Started New Job at Apple</h5>
                                                    <p>January 24, 2019</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <div class="">
                                        <h4>Ảnh</h4>
                                    </div>
                                    <div>
                                        <p class="mb-0">
                                            <a href="">Thêm ảnh</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <ul class="list-inline mb-0 image-gallary">
                                        <li class="">
                                            <a href="">
                                                <img src="/images/page-img/g1.jpg" alt="" class="img-fluid">
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="">
                                                <img src="/images/page-img/g1.jpg" alt="" class="img-fluid">
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="">
                                                <img src="/images/page-img/g1.jpg" alt="" class="img-fluid">
                                            </a>
                                        </li>
                                        <li class="">
                                            <a href="">
                                                <img src="/images/page-img/g1.jpg" alt="" class="img-fluid">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <div class="">
                                        <h4>Bạn bè</h4>
                                    </div>
                                    <p class="mb-0">
                                        <a href="">Thêm bạn mới</a>
                                    </p>
                                </div>
                                <div class="card-body">
                                    <ul class="list-inline image-gallary mb-0">
                                        <li>
                                            <a href="">
                                                <img src="/images/user/05.jpg" alt="" class="img-fluid">
                                            </a>
                                            <h6 class="mt-2 text-center">Thu Thảo</h6>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="/images/user/05.jpg" alt="" class="img-fluid">
                                            </a>
                                            <h6 class="mt-2 text-center">Thu Thảo</h6>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="/images/user/05.jpg" alt="" class="img-fluid">
                                            </a>
                                            <h6 class="mt-2 text-center">Thu Thảo</h6>
                                        </li>
                                        <li>
                                            <a href="">
                                                <img src="/images/user/05.jpg" alt="" class="img-fluid">
                                            </a>
                                            <h6 class="mt-2 text-center">Thu Thảo</h6>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-header">
                                    <div class="">
                                        <h4>Tạo bài viết</h4>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="">
                                            <img src="/images/user/11.png" alt=""
                                                class="img-fluid avatar-60 rounded-circle">
                                        </div>
                                        <form action="" class="ms-3 w-100 form-feedpost" data-bs-toggle="modal"
                                            data-bs-target="#feedpost-modal">
                                            <input type="text" class="form-control rounded"
                                                placeholder="Bạn đang nghĩ gì?" style="border: none;">
                                        </form>
                                    </div>
                                    <hr>
                                    <ul class="list-inline mb-0 d-flex">
                                        <li class="bg-soft-primary p-2 d-flex align-items-center rounded me-3 pointer">
                                            <img src="/images/small/07.png" alt="" class="me-2 img-fluid"> Ảnh/Video
                                        </li>
                                        <li class="bg-soft-primary p-2 d-flex align-items-center rounded me-3 pointer">
                                            <img src="/images/small/08.png" alt="" class="me-2 img-fluid"> Gắn thẻ
                                        </li>
                                        <li class="bg-soft-primary p-2 d-flex align-items-center rounded me-3 pointer">
                                            <img src="/images/small/09.png" alt="" class="me-2 img-fluid"> Cảm xúc/Hoạt
                                            động
                                        </li>
                                        <li class="bg-soft-primary p-2 rounded me-3 pointer">
                                            <div class="card-header-toolbar d-flex align-items-center">
                                                <div class="dropdown">
                                                    <div class="dropdown-toggle" id="post-option"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="ri-more-fill h4"></i>
                                                    </div>
                                                    <div class="dropdown-menu" aria-labelledby="post-option">
                                                        <a href="" class="dropdown-item">Checkin</a>
                                                        <a href="" class="dropdown-item">Live Video</a>
                                                        <a href="" class="dropdown-item">Gif</a>
                                                        <a href="" class="dropdown-item">Watch Party</a>
                                                        <a href="" class="dropdown-item">Play with Friend</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="modal fade" id="feedpost-modal" tabindex="-1"
                                    aria-labelledby="post-modalLabel">
                                    <div class="modal-dialog modal-fullscreen-sm-down mt-0">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5>Tạo bài viết</h5>
                                                <button class="btn btn-secondary" data-bs-dismiss="modal"><i
                                                        class="ri-close-fill"></i></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <img src="/images/user/1.jpg" alt=""
                                                            class="img-fluid avatar-60 rounded-circle">
                                                    </div>
                                                    <form action="" class="w-100 ms-3">
                                                        <input type="text" class="form-control rounded"
                                                            placeholder="Bạn đang nghĩ gì?" style="border: none;">
                                                    </form>
                                                </div>
                                                <hr>
                                                <ul class="list-inline d-flex flex-wrap mb-0 align-items-center">
                                                    <li class="col-md-6 mb-3">
                                                        <div class="bg-soft-primary rounded p-2 me-3">
                                                            <img src="/images/small/07.png" alt=""> Ảnh/Video
                                                        </div>
                                                    </li>
                                                    <li class="col-md-6 mb-3">
                                                        <div class="bg-soft-primary rounded p-2 me-3">
                                                            <img src="/images/small/08.png" alt="" class="img-fluid">
                                                            Ảnh/Video
                                                        </div>
                                                    </li>
                                                    <li class="col-md-6 mb-3">
                                                        <div class="bg-soft-primary rounded p-2 me-3">
                                                            <img src="/images/small/09.png" alt=""> Ảnh/Video
                                                        </div>
                                                    </li>
                                                    <li class="col-md-6 mb-3">
                                                        <div class="bg-soft-primary rounded p-2 me-3">
                                                            <img src="/images/small/10.png" alt=""> Ảnh/Video
                                                        </div>
                                                    </li>
                                                    <li class="col-md-6 mb-3">
                                                        <div class="bg-soft-primary rounded p-2 me-3">
                                                            <img src="/images/small/11.png" alt=""> Ảnh/Video
                                                        </div>
                                                    </li>
                                                    <li class="col-md-6 mb-3">
                                                        <div class="bg-soft-primary rounded p-2 me-3">
                                                            <img src="/images/small/12.png" alt=""> Ảnh/Video
                                                        </div>
                                                    </li>
                                                    <li class="col-md-6 mb-3">
                                                        <div class="bg-soft-primary rounded p-2 me-3">
                                                            <img src="/images/small/13.png" alt=""> Ảnh/Video
                                                        </div>
                                                    </li>
                                                    <li class="col-md-6 mb-3">
                                                        <div class="bg-soft-primary rounded p-2 me-3">
                                                            <img src="/images/small/14.png" alt=""> Ảnh/Video
                                                        </div>
                                                    </li>
                                                </ul>
                                                <hr>
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <div class="me-3">
                                                            <img src="/images/user/1.jpg" alt=""
                                                                class="img-fluid avatar-60 rounded-circle">
                                                        </div>
                                                        <h6>Bài viết của bạn</h6>
                                                    </div>
                                                    <div class="card-post-toolbar">
                                                        <div class="dropdown">
                                                            <span class="dropdown-toggle" data-bs-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false"
                                                                role="button">
                                                                <span class="btn btn-primary">Bạn bè</span>
                                                            </span>
                                                            <div class="dropdown-menu m-0 p-0">
                                                                <a href="" class="dropdown-item p-3">
                                                                    <div class="d-flex align-items-top">
                                                                        <i class="ri-save-line h4"></i>
                                                                        <div class="ms-2">
                                                                            <h6>Mọi người</h6>
                                                                            <p class="mb-0">Bất kì ai ở trên hoặc ngoài
                                                                                HHSocial
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <a href="" class="dropdown-item p-3">
                                                                    <div class="d-flex align-items-top">
                                                                        <i class="ri-close-circle-line h4"></i>
                                                                        <div class="ms-2">
                                                                            <h6>Bạn bè</h6>
                                                                            <p class="mb-0">Bạn bè của bạn trên HHSocial
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <a href="" class="dropdown-item p-3">
                                                                    <div class="d-flex align-items-top">
                                                                        <i class="ri-user-unfollow-line h4"></i>
                                                                        <div class="ms-2">
                                                                            <h6>Bạn bè ngoại trừ</h6>
                                                                            <p class="mb-0">Không hiển thị với một số
                                                                                bạn bè</p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <a href="" class="dropdown-item p-3">
                                                                    <div class="d-flex align-items-center">
                                                                        <i class="ri-notification-line h4"></i>
                                                                        <div class="ms-2">
                                                                            <h6>Chỉ mình tôi</h6>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <button class="btn btn-primary w-100 mt-3"
                                                    data-bs-dismiss="modal">Post</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @* FeedPost *@

                            <div class="card">
                                <div class="card-body">
                                    <div class="post-item">
                                        <div class="user-post-data pb-3">
                                            <div class="d-flex align-items-center">
                                                <div class="me-3">
                                                    <img src="/images/user/1.jpg" alt=""
                                                        class="img-fluid rounded-circle avatar-60">
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between w-100">
                                                    <div class="">
                                                        <h5 class="d-inline-block mb-0">
                                                            <a href="">Ta Duc Hoan</a>
                                                        </h5>
                                                        <p class="d-inline-block mb-0 ms-1">Bài viết mới</p>
                                                        <p class="mb-0">3 tiếng trước</p>
                                                    </div>
                                                    <div class="card-post-dropdown">
                                                        <div class="dropdown">
                                                            <span class="dropdown-toggle" data-bs-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false"
                                                                role="button">
                                                                <i class="ri-more-fill"></i>
                                                            </span>
                                                            <div class="dropdown-menu">
                                                                <a href="" class="dropdown-item p-3">
                                                                    <div class="d-flex">
                                                                        <i class="ri-save-line h4"></i>
                                                                        <div class="ms-2">
                                                                            <h6>Lưu bài viết</h6>
                                                                            <p class="mb-0">Add this to your saved item
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <a href="" class="dropdown-item p-3">
                                                                    <div class="d-flex">
                                                                        <i class="ri-pencil-line h4"></i>
                                                                        <div class="data ms-2">
                                                                            <h6>Edit Post</h6>
                                                                            <p class="mb-0">Update your post and saved
                                                                                items
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <a href="" class="dropdown-item p-3">
                                                                    <div class="d-flex">
                                                                        <i class="ri-close-circle-line h4"></i>
                                                                        <div class="data ms-2">
                                                                            <h6>Hide From Timeline</h6>
                                                                            <p class="mb-0">See fewer posts like this.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <a href="" class="dropdown-item p-3">
                                                                    <div class="d-flex">
                                                                        <i class="ri-delete-bin-7-line h4"></i>
                                                                        <div class="data ms-2">
                                                                            <h6>Delete</h6>
                                                                            <p class="mb-0">Remove thids Post on
                                                                                Timeline
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <a class="dropdown-item p-3" href="#">
                                                                    <div class="d-flex align-items-top">
                                                                        <i class="ri-notification-line h4"></i>
                                                                        <div class="data ms-2">
                                                                            <h6>Notifications</h6>
                                                                            <p class="mb-0">Turn on notifications for
                                                                                this
                                                                                post</p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="user-post">
                                            <a href="">
                                                <img src="/images/page-img/p1.jpg" alt="" class="img-fluid w-100">
                                            </a>
                                        </div>
                                        <div class="comment-post mt-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex">
                                                    <div class="d-flex align-items-center">
                                                        <div class="like-post">
                                                            <div class="dropdown">
                                                                <span class="dropdown-toggle" data-bs-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false"
                                                                    role="button">
                                                                    <img src="/images/icon/01.png" alt=""
                                                                        class="img-fluid">
                                                                </span>
                                                                <div class="dropdown-menu py-2">
                                                                    <a class="ms-2 me-2" href="#"
                                                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                                                        title="Like">
                                                                        <img src="/images/icon/01.png" class="img-fluid"
                                                                            alt="">
                                                                    </a>
                                                                    <a class="me-2" href="#" data-bs-toggle="tooltip"
                                                                        data-bs-placement="top" title="Love"><img
                                                                            src="/images/icon/02.png" class="img-fluid"
                                                                            alt=""></a>
                                                                    <a class="me-2" href="#" data-bs-toggle="tooltip"
                                                                        data-bs-placement="top" title="Happy"><img
                                                                            src="/images/icon/03.png" class="img-fluid"
                                                                            alt=""></a>
                                                                    <a class="me-2" href="#" data-bs-toggle="tooltip"
                                                                        data-bs-placement="top" title="HaHa"><img
                                                                            src="/images/icon/04.png" class="img-fluid"
                                                                            alt=""></a>
                                                                    <a class="me-2" href="#" data-bs-toggle="tooltip"
                                                                        data-bs-placement="top" title="Think"><img
                                                                            src="/images/icon/05.png" class="img-fluid"
                                                                            alt=""></a>
                                                                    <a class="me-2" href="#" data-bs-toggle="tooltip"
                                                                        data-bs-placement="top" title="Sade"><img
                                                                            src="/images/icon/06.png" class="img-fluid"
                                                                            alt=""></a>
                                                                    <a class="me-2" href="#" data-bs-toggle="tooltip"
                                                                        data-bs-placement="top" title="Lovely"><img
                                                                            src="/images/icon/07.png" class="img-fluid"
                                                                            alt=""></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="total-like-post ms-2 me-3">
                                                            <div class="dropdown">
                                                                <span class="dropdown-toggle" data-bs-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false"
                                                                    role="button">140
                                                                    Likes</span>
                                                                <div class="dropdown-menu">
                                                                    <a class="dropdown-item" href="#">Max Emum</a>
                                                                    <a class="dropdown-item" href="#">Bill Yerds</a>
                                                                    <a class="dropdown-item" href="#">Hap E.
                                                                        Birthday</a>
                                                                    <a class="dropdown-item" href="#">Tara Misu</a>
                                                                    <a class="dropdown-item" href="#">Midge Itz</a>
                                                                    <a class="dropdown-item" href="#">Sal Vidge</a>
                                                                    <a class="dropdown-item" href="#">Other</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="total-comment-post">
                                                        <div class="dropdown">
                                                            <span class="dropdown-toggle" data-bs-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false"
                                                                role="button">
                                                                20 Comment
                                                            </span>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" href="#">Max Emum</a>
                                                                <a class="dropdown-item" href="#">Bill Yerds</a>
                                                                <a class="dropdown-item" href="#">Hap E. Birthday</a>
                                                                <a class="dropdown-item" href="#">Tara Misu</a>
                                                                <a class="dropdown-item" href="#">Midge Itz</a>
                                                                <a class="dropdown-item" href="#">Sal Vidge</a>
                                                                <a class="dropdown-item" href="#">Other</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="feather-icon">
                                                    <a href="">
                                                        <i class="ri-share-line"></i>
                                                        <span class="ms-1">99 Share</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <hr>
                                            <ul class="post-comments p-0 m-0">
                                                <li class="mb-2">
                                                    <div class="d-flex flex-wrap">
                                                        <div class="user-image">
                                                            <img src="/images/user/02.jpg" alt=""
                                                                class="img-fluid avatar-35 rounded-circle">
                                                        </div>
                                                        <div class="ms-3">
                                                            <h6>Monty Carlo</h6>
                                                            <p class="mb-0">Lorem ipsum dolor sit amet</p>
                                                            <div
                                                                class="d-flex flex-wrap align-items-center comment-activity">
                                                                <a href="#">Like</a>
                                                                <a href="#">Reply</a>
                                                                <a href="#">Translate</a>
                                                                <span> 5 min </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="mb-2">
                                                    <div class="d-flex flex-wrap">
                                                        <div class="user-image">
                                                            <img src="/images/user/03.jpg" alt=""
                                                                class="img-fluid avatar-35 rounded-circle">
                                                        </div>
                                                        <div class="ms-3">
                                                            <h6>Paul Molive</h6>
                                                            <p class="mb-0">Lorem ipsum dolor sit amet</p>
                                                            <div
                                                                class="d-flex flex-wrap align-items-center comment-activity">
                                                                <a href="#">Like</a>
                                                                <a href="#">Reply</a>
                                                                <a href="#">Translate</a>
                                                                <span> 5 min </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <form action="" class="mt-3 d-flex align-items-center comment-text">
                                                <input type="text" class="form-control rounded"
                                                    placeholder="Viết bình luận...">
                                                <div class="comment-attagement d-flex">
                                                    <a href="#"><i class="ri-link"></i></a>
                                                    <a href="#"><i class="ri-user-smile-line"></i></a>
                                                    <a href="#"><i class="ri-camera-line"></i></a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="post-item">
                                        <div class="user-post-data pb-3">
                                            <div class="d-flex align-items-center">
                                                <div class="me-3">
                                                    <img src="/images/user/1.jpg" alt=""
                                                        class="img-fluid rounded-circle avatar-60">
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between w-100">
                                                    <div class="">
                                                        <h5 class="d-inline-block mb-0">
                                                            <a href="">Ta Duc Hoan</a>
                                                        </h5>
                                                        <p class="d-inline-block mb-0 ms-1">Bài viết mới</p>
                                                        <p class="mb-0">3 tiếng trước</p>
                                                    </div>
                                                    <div class="card-post-dropdown">
                                                        <div class="dropdown">
                                                            <span class="dropdown-toggle" data-bs-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false"
                                                                role="button">
                                                                <i class="ri-more-fill"></i>
                                                            </span>
                                                            <div class="dropdown-menu">
                                                                <a href="" class="dropdown-item p-3">
                                                                    <div class="d-flex">
                                                                        <i class="ri-save-line h4"></i>
                                                                        <div class="ms-2">
                                                                            <h6>Lưu bài viết</h6>
                                                                            <p class="mb-0">Add this to your saved item
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <a href="" class="dropdown-item p-3">
                                                                    <div class="d-flex">
                                                                        <i class="ri-pencil-line h4"></i>
                                                                        <div class="data ms-2">
                                                                            <h6>Edit Post</h6>
                                                                            <p class="mb-0">Update your post and saved
                                                                                items
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <a href="" class="dropdown-item p-3">
                                                                    <div class="d-flex">
                                                                        <i class="ri-close-circle-line h4"></i>
                                                                        <div class="data ms-2">
                                                                            <h6>Hide From Timeline</h6>
                                                                            <p class="mb-0">See fewer posts like this.
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <a href="" class="dropdown-item p-3">
                                                                    <div class="d-flex">
                                                                        <i class="ri-delete-bin-7-line h4"></i>
                                                                        <div class="data ms-2">
                                                                            <h6>Delete</h6>
                                                                            <p class="mb-0">Remove thids Post on
                                                                                Timeline
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <a class="dropdown-item p-3" href="#">
                                                                    <div class="d-flex align-items-top">
                                                                        <i class="ri-notification-line h4"></i>
                                                                        <div class="data ms-2">
                                                                            <h6>Notifications</h6>
                                                                            <p class="mb-0">Turn on notifications for
                                                                                this
                                                                                post</p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="user-post">
                                            <a href="">
                                                <img src="/images/page-img/p1.jpg" alt="" class="img-fluid w-100">
                                            </a>
                                        </div>
                                        <div class="comment-post mt-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex">
                                                    <div class="d-flex align-items-center">
                                                        <div class="like-post">
                                                            <div class="dropdown">
                                                                <span class="dropdown-toggle" data-bs-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false"
                                                                    role="button">
                                                                    <img src="/images/icon/01.png" alt=""
                                                                        class="img-fluid">
                                                                </span>
                                                                <div class="dropdown-menu py-2">
                                                                    <a class="ms-2 me-2" href="#"
                                                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                                                        title="Like">
                                                                        <img src="/images/icon/01.png" class="img-fluid"
                                                                            alt="">
                                                                    </a>
                                                                    <a class="me-2" href="#" data-bs-toggle="tooltip"
                                                                        data-bs-placement="top" title="Love"><img
                                                                            src="/images/icon/02.png" class="img-fluid"
                                                                            alt=""></a>
                                                                    <a class="me-2" href="#" data-bs-toggle="tooltip"
                                                                        data-bs-placement="top" title="Happy"><img
                                                                            src="/images/icon/03.png" class="img-fluid"
                                                                            alt=""></a>
                                                                    <a class="me-2" href="#" data-bs-toggle="tooltip"
                                                                        data-bs-placement="top" title="HaHa"><img
                                                                            src="/images/icon/04.png" class="img-fluid"
                                                                            alt=""></a>
                                                                    <a class="me-2" href="#" data-bs-toggle="tooltip"
                                                                        data-bs-placement="top" title="Think"><img
                                                                            src="/images/icon/05.png" class="img-fluid"
                                                                            alt=""></a>
                                                                    <a class="me-2" href="#" data-bs-toggle="tooltip"
                                                                        data-bs-placement="top" title="Sade"><img
                                                                            src="/images/icon/06.png" class="img-fluid"
                                                                            alt=""></a>
                                                                    <a class="me-2" href="#" data-bs-toggle="tooltip"
                                                                        data-bs-placement="top" title="Lovely"><img
                                                                            src="/images/icon/07.png" class="img-fluid"
                                                                            alt=""></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="total-like-post ms-2 me-3">
                                                            <div class="dropdown">
                                                                <span class="dropdown-toggle" data-bs-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false"
                                                                    role="button">140
                                                                    Likes</span>
                                                                <div class="dropdown-menu">
                                                                    <a class="dropdown-item" href="#">Max Emum</a>
                                                                    <a class="dropdown-item" href="#">Bill Yerds</a>
                                                                    <a class="dropdown-item" href="#">Hap E.
                                                                        Birthday</a>
                                                                    <a class="dropdown-item" href="#">Tara Misu</a>
                                                                    <a class="dropdown-item" href="#">Midge Itz</a>
                                                                    <a class="dropdown-item" href="#">Sal Vidge</a>
                                                                    <a class="dropdown-item" href="#">Other</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="total-comment-post">
                                                        <div class="dropdown">
                                                            <span class="dropdown-toggle" data-bs-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false"
                                                                role="button">
                                                                20 Comment
                                                            </span>
                                                            <div class="dropdown-menu">
                                                                <a class="dropdown-item" href="#">Max Emum</a>
                                                                <a class="dropdown-item" href="#">Bill Yerds</a>
                                                                <a class="dropdown-item" href="#">Hap E. Birthday</a>
                                                                <a class="dropdown-item" href="#">Tara Misu</a>
                                                                <a class="dropdown-item" href="#">Midge Itz</a>
                                                                <a class="dropdown-item" href="#">Sal Vidge</a>
                                                                <a class="dropdown-item" href="#">Other</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="feather-icon">
                                                    <a href="">
                                                        <i class="ri-share-line"></i>
                                                        <span class="ms-1">99 Share</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <hr>
                                            <ul class="post-comments p-0 m-0">
                                                <li class="mb-2">
                                                    <div class="d-flex flex-wrap">
                                                        <div class="user-image">
                                                            <img src="/images/user/02.jpg" alt=""
                                                                class="img-fluid avatar-35 rounded-circle">
                                                        </div>
                                                        <div class="ms-3">
                                                            <h6>Monty Carlo</h6>
                                                            <p class="mb-0">Lorem ipsum dolor sit amet</p>
                                                            <div
                                                                class="d-flex flex-wrap align-items-center comment-activity">
                                                                <a href="#">Like</a>
                                                                <a href="#">Reply</a>
                                                                <a href="#">Translate</a>
                                                                <span> 5 min </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="mb-2">
                                                    <div class="d-flex flex-wrap">
                                                        <div class="user-image">
                                                            <img src="/images/user/03.jpg" alt=""
                                                                class="img-fluid avatar-35 rounded-circle">
                                                        </div>
                                                        <div class="ms-3">
                                                            <h6>Paul Molive</h6>
                                                            <p class="mb-0">Lorem ipsum dolor sit amet</p>
                                                            <div
                                                                class="d-flex flex-wrap align-items-center comment-activity">
                                                                <a href="#">Like</a>
                                                                <a href="#">Reply</a>
                                                                <a href="#">Translate</a>
                                                                <span> 5 min </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <form action="" class="mt-3 d-flex align-items-center comment-text">
                                                <input type="text" class="form-control rounded"
                                                    placeholder="Viết bình luận...">
                                                <div class="comment-attagement d-flex">
                                                    <a href="#"><i class="ri-link"></i></a>
                                                    <a href="#"><i class="ri-user-smile-line"></i></a>
                                                    <a href="#"><i class="ri-camera-line"></i></a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            @await Component.InvokeAsync("AboutProfile")

            <div class=""></div>
            <div class=""></div>
        </div>

        

    </div>
</div>