@model User
<div class="col-sm-12">
    <div class="card">
        <div class="card-body p-0">
            <div class="position-relative">
                <div class="position-relative">
                    <img src="/images/page-img/profile-bg1.jpg" alt="" class="img-fluid rounded">
                    <ul class="header-nav d-flex list-inline justify-end">
                        <li class="">
                            <a href=""><i class="ri-pencil-line"></i></a>
                        </li>
                        <li class="">
                            <a href="">
                                <i class="ri-settings-4-line"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="user_over position-absolute text-center mb-3">
                    <div class="profile-image">
                        <img src="/images/user/11.png" alt="" class="avatar-130 img-fluid ">
                    </div>
                    <div class="">
                        <h3>Tạ Đức Hoàn</h3>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between p-3 position-relative">
                    <div class="">
                        <ul class="d-flex list-inline m-0 align-items-center">
                            <li class="text-center pe-3">
                                <a href="#"><img src="/images/icon/08.png" class="img-fluid rounded" alt="facebook"></a>
                            </li>
                            <li class="text-center pe-3">
                                <a href="#"><img src="/images/icon/09.png" class="img-fluid rounded" alt="Twitter"></a>
                            </li>
                            <li class="text-center pe-3">
                                <a href="#"><img src="/images/icon/10.png" class="img-fluid rounded"
                                        alt="Instagram"></a>
                            </li>
                            <li class="text-center pe-3">
                                <a href="#"><img src="/images/icon/11.png" class="img-fluid rounded"
                                        alt="Google plus"></a>
                            </li>
                            <li class="text-center pe-3">
                                <a href="#"><img src="/images/icon/12.png" class="img-fluid rounded" alt="You tube"></a>
                            </li>
                            <li class="text-center md-pe-3 pe-0">
                                <a href="#"><img src="/images/icon/13.png" class="img-fluid rounded" alt="linkedin"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="">
                        <ul class="list-inline d-flex mb-0">
                            <li class="text-center ps-3">
                                <h6>Posts</h6>
                                <p class="mb-0">690</p>
                            </li>
                            <li class="text-center ps-3">
                                <h6>Followers</h6>
                                <p class="mb-0">206</p>
                            </li>
                            <li class="text-center ps-3">
                                <h6>Following</h6>
                                <p class="mb-0">100</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body p-0">
            <div class="user-tabing">
                <ul class="nav nav-pills list-inline d-flex align-items-center justify-content-center m-0 p-0 w-100">
                    <li class="nav-item col-sm-3"><a href="" class="nav-link">Bài viết</a></li>
                    <li class="nav-item col-sm-3"><a href="" class="nav-link">Giới thiệu</a></li>
                    <li class="nav-item col-sm-3"><a href="" class="nav-link">Bạn bè</a></li>
                    <li class="nav-item col-sm-3"><a href="" class="nav-link">Ảnh</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div class="">
        <div class="">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <a href="">
                            <span class="badge badge-pill bg-primary font-weight-normal ms-auto me-1"><i
                                    class="ri-star-line"></i></span> 27 Itmes for you
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="">
                            <h4>Life Event</h4>
                        </div>
                        <div class="">
                            <p class="mb-0">
                                <a href="">Create</a>
                            </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="position-relative">
                                    <a href="">
                                        <img src="/images/page-img/07.jpg" alt="" class="img-fluid rounded">
                                    </a>
                                    <div class="job-icon-position">
                                        <div class="job-icon bg-primary p-2 d-inline-block rounded-circle"><i
                                                class="ri-briefcase-line text-white"></i></div>
                                    </div>
                                    <div class="card-body text-center p-2">
                                        <h5>Started New Job at Apple</h5>
                                        <p>January 24, 2019</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12"></div>
                        </div>
                    </div>
                </div>
                <div class="card"></div>
                <div class="card"></div>
            </div>
            <div class="col-lg-8"></div>
        </div>
    </div>
    <div class=""></div>
    <div class=""></div>
    <div class=""></div>
</div>
